<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>个人中心</title>
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/jquery-3.5.1.min.js"></script>
		<script type="text/JavaScript" src="js/jquery-3.5.1.js" charset="utf-8"></script>
		<script>

		</script>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header box-shadow" style="background-color: white;">
				<div class="layui-logo" style="background-color: #393D49;color: white;">小郭音乐推荐系统</div>
				<ul class="layui-nav layui-layout-right">
					<!-- <li class="layui-nav-item">
						<a id="t1" href="javascript:;" class="layui-icon layui-icon-username" style="color: black;">
							{{name}}
						</a>
					</li> -->
					<li class="layui-nav-item"><a href="index.html" class="layui-icon layui-icon-logout" style="color: black;">退出</a></li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<hr class="layui-bg-green" style="height: 5px;" />
						
						<li class="layui-nav-item">
							<a href="main.html">个人中心</a>
						</li>
						<li class="layui-nav-item">
							<a href="mainKS.html">热歌排行</a>
						</li>
						<li class="layui-nav-item">
							<a href="mainYF.html">个性推荐</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body">
				<div id="box" style="margin-top:0px;">
					<!-- 内容主体区域 -->
					<!-- 新患者 -->
					<div id="G1" style="padding: 15px; background-color: #F2F2F2;display: block;">
						<div class="layui-row layui-col-space15">
							<div class="layui-col-md12">
								<div class="layui-card" style="box-shadow: 5px 5px 5px -5px #2F4056;">
									<div class="layui-card-header">用户记录歌单</div>
									<div class="layui-card-header">用户名：{{lis.pid+1}}</div>
									<ul class="input-button clearfix">
										<li><input type="text" name="title" required lay-verify="required" placeholder="请输入歌曲名称"
											autocomplete="off" class="layui-input" id="medName" v-model="searchVal"></li>
										<li><button class="layui-btn ">&#xe60b; 搜索歌曲</button></li>
									</ul>
									<!-- 从这增加表格 -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="js/vue.js"></script>
			<script src="layui/layui.js"></script>
			<!-- 添加脚本 -->
	</body>
</html>
